[Unit]
Description=eGuard Endpoint Agent
After=network-online.target
Wants=network-online.target
RefuseManualStop=yes
StartLimitIntervalSec=0
StartLimitBurst=0

[Service]
Type=notify
ExecStart=/usr/local/eg/sbin/eguard-agent
Restart=always
RestartSec=1s
WatchdogSec=30s
NotifyAccess=all
NoNewPrivileges=true
ProtectSystem=full
ProtectHome=true
PrivateTmp=true
TimeoutStopSec=5s

[Install]
WantedBy=multi-user.target
