[Unit]
Description=eGuard Endpoint Agent
After=network-online.target
Wants=network-online.target
RefuseManualStop=yes
StartLimitIntervalSec=0
StartLimitBurst=0

[Service]
Type=simple
ExecStart=/usr/bin/eguard-agent
Restart=always
RestartSec=1s
NoNewPrivileges=true
AmbientCapabilities=CAP_NET_ADMIN CAP_NET_RAW
ProtectSystem=full
ProtectHome=true
PrivateTmp=true
ReadWritePaths=/etc/eguard-agent /var/lib/eguard-agent
TimeoutStopSec=15s

[Install]
WantedBy=multi-user.target
